<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="wrapper">

            <!--* CONTACT/SEARCH SECTION -->
            <div class="left-col">
                <!-- header -->
                <div class="header-left d-flex">
                    <div class="user d-flex">
                        <img src="./img/avatar_io.jpg" alt="">
                        <span class="name">Sofia</span>
                    </div>
                    <div class="user-option d-flex just-end">
                        <i class="fa-solid fa-arrows-rotate"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>

                    </div>
                </div>
                <!-- notification section -->
                <div class="notif d-flex">
                    <div class="bell-circle d-flex just-cent">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div>
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="">Attiva notifiche desktop</a>
                    </div>

                </div>
                <!-- input search -->
                <div class="search-sect d-flex">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="search" type="text" placeholder="Cerca o inizia una nuova chat" v-model="search"/>
                </div>

                <!-- contact list -->
                <div class="contact-list">
                    <ul>
                        <li v-for="(contact,index) in filteredItems" :class=" contact.isHovering === true? 'active' : ''"
                        @mouseover="contact.isHovering = true" 
                        @mouseout="contact.isHovering = false" 
                        >
                            <div class="contact d-flex just-start" @click = "contactClicked(index)">
                                <img :src="`./img/avatar${contact.avatar}.jpg`" alt="">
                                <div class="contact-details d-flex just-bet">
                                    <div>
                                        <span class="name">{{contact.name}}</span>
                                        <div class="last-msg" >{{contact.messages[contact.messages.length - 1].message.slice(0,20)}}...</div>
                                        
                                    </div>
                                    <div class="last-msg-h">
                                        {{contact.messages[contact.messages.length - 1].date.slice(-8,-3)}}
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- *--------------------------------------------->
            <!-- * MESSAGE SECTION -->
            <!-- message header -->
            <div class="right-col">
                <div class="header-right d-flex">
                    <div class="contact-status d-flex">
                        <img :src="`./img/avatar${contacts[activeIndex].avatar}.jpg`" alt="">
                        <div>
                            <span class="name">{{contacts[activeIndex].name}}</span>
                            <div class="last-seen">Ultimo accesso oggi alle 12:00</div>
                        </div>
                    </div>
                    <div class="general-option d-flex just-end">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        


                    </div>
                </div>
                <!-- message window -->
                <div class="msg-window">
                    <div class="message-row clearfix" v-for="(message,index) in contacts [activeIndex].messages" >
                        <div class="message"
                        :class = "message.status === 'sent' ? 'send' : 'recieved'">
                            {{contacts[activeIndex].messages[index].message}}
                            <h6 class="date-right">{{contacts[activeIndex].messages[index].date.slice(-8,-3)}}</h6>

                        </div>
                    </div>
                </div>

                <div class="footer-right d-flex just-cent">
                    <i class="fa-solid fa-face-smile"></i>
                    <input class="send-msg" type="text" v-model="text" placeholder="Scrivi un messaggio" @keyup.enter="newMsg"/>
                    <i class="fa-solid fa-microphone"></i>
                </div>

            </div>
   
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>